<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Mondu API Configuration</title>

        <input-field type="bool">
            <name>sandbox</name>
            <label>Sandbox</label>
            <label lang="de-DE">Testmodus</label>
            <value>0</value>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="password">
            <name>apiToken</name>
            <label>API Key</label>
        </input-field>

        <component name="mondu-test-api-button">
            <name>testLiveClientCredentialsButton</name>
            <label>Validate API Credentials</label>
            <apiMode>live</apiMode>
        </component>
    </card>

    <card>
        <title>Mondu Configuration</title>
        <title lang="de-DE">API Modus</title>

        <input-field type="bool">
            <name>skipOrderStateValidation</name>
            <label>Skip order state validation?</label>
            <value>0</value>
            <defaultValue>0</defaultValue>
            <helpText>When this flag is enabled, there will be no validations such as invoice validation upon changing an order state.</helpText>
        </input-field>
    </card>
</config>
